<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AIONMeter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="aionmeter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AIONMeter.Properties.Settings>
            <setting name="AION_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="font_name" serializeAs="String">
                <value />
            </setting>
            <setting name="font_size" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="bar_texture" serializeAs="String">
                <value>Smooth</value>
            </setting>
            <setting name="scan_previous_session_on_startup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="render_mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="settings_upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="window_on_top" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="window_width" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="window_height" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="windows_opacity" serializeAs="String">
                <value>0.8</value>
            </setting>
        </AIONMeter.Properties.Settings>
        <aionmeter.Properties.Settings>
            <setting name="AION_Path" serializeAs="String">
                <value />
            </setting>
        </aionmeter.Properties.Settings>
    </userSettings>
</configuration>